<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.url == "/" %}
    {% assign my_title = "ＶＭ" %}
{% elsif title %}
    {% assign my_title = title %}
{% else %}
    {% assign my_title = site.title %}
{% endif %}
<title>{{ my_title }}</title>
{% if googleFonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
{% endif %}
<link rel="stylesheet" href="/assets/stylesheets/style.built.css?{{ "" | cacheBust }}">
{% if favicon %}
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ favicon }}</text></svg>">
{% else %}
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>㊙️</text></svg>">
{% endif %}
</head>
