---
layout: base.liquid
---
<main class="w-full px-4">
  <div class="flex flex-wrap">
    <div id="life"></div>
    <div id="next"></div>
  </div>
  <div class="flex flex-wrap">
    <p class="text-center font-mono">generation <span id="generation">0</span>/23</p>
  </div>
</main>
