---
layout: base.liquid
googleFonts: true
---
<main class="w-full px-4">
  <div class="flex flex-wrap my-12">
    <div class="flex-1">
      <h1 class="fc">FLASH CRASH</h1>
    </div>
  </div>
</main>
