---
layout: base.liquid
---
<main class="w-full px-4">
  <div class="flex justify-center">
    <canvas id="machinic-canvas"></canvas>
  </div>
  <div class="flex justify-center">
    <p class="text-center font-mono md-gen">generation <span id="generation">0</span></p>
  </div>
  <div id="image-selector"></div>
</main>
