---
layout: base.liquid
favicon: "🔮"
---
  <div class="occult-container">
    <h1 class="m-12 fade-out text-white">You are getting sleepy...</h1>
    <h1 class="m-12 fade-out text-white" id="countdown">10</h1>
    <img src="/assets/images/stars.svg" class="animated-image animated-image-1" />
    <!-- <img src="/assets/images/stars.svg" class="animated-image animated-image-2" /> -->
    <img src="/assets/images/stars.svg" class="animated-image animated-image-3" />
    <img src="/assets/images/stars.svg" class="animated-image animated-image-4" />
    <!-- <img src="/assets/images/stars.svg" class="animated-image animated-image-5" /> -->
    <img src="/assets/images/stars.svg" class="animated-image animated-image-6" />
    <img src="/assets/images/stars.svg" class="animated-image animated-image-7" />
    <!-- <img src="/assets/images/stars.svg" class="animated-image animated-image-8" /> -->
  </div>
