/* global */

$black: #000000
$white: #FFFFFF
$bootstrapBlue: #007bff

.mono
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

.sans-serif
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

body, code, pre
  background: $black
  color: $white
  @extend .mono

ul, ol
  margin: 0
  padding: 0
  list-style: none

/* home */

.ni-wrap
  width: 50px
  
  .ni
    fill: $white
    
  &:hover .ni
    fill: $bootstrapBlue

/* fc210807 */

.vm-fc210807

  h1
    font-size: 100px
    font-family: 'IBM Plex Mono', monospace
    background: -webkit-linear-gradient(#ff3d00, #ff4a6b)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

  .rotate
    transform: rotate(180deg) scaleX(-1)
