@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */

$black: #000000;
$white: #FFFFFF;
$bootstrapBlue: #007bff;

.mono {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body,
code,
pre {
  background: $black;
  color: $white;
  @extend .mono;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* home */

.ni-wrap {
  width: 50px;

  .ni {
    fill: $white;
  }

  &:hover .ni {
    fill: $bootstrapBlue;
  }
}

/* fc210904 */

.vm-fc210904 {
  background: transparent;
  color: $black;

  h1 {
    font-size: 50px;
    font-family: 'IBM Plex Mono', monospace;
  }
}

/* fc210807 */

.vm-fc210807 {
  h1 {
    font-size: 100px;
    font-family: 'IBM Plex Mono', monospace;
    background: -webkit-linear-gradient(#ff3d00, #ff4a6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .rotate {
    margin-top: 4px;
    transform: rotate(180deg) scaleX(-1);
    background: -webkit-linear-gradient(#ff4a6b, #ff3d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* fc210710 */

.vm-fc210710 {
  background: #1A1A1A;

  .cell[data-toggle='0'] {
    color: #1A1A1A;
  }
  
  .cell[data-toggle='1'] {
    color: #f7931e;
  }

  p {
    color: #cccccc;
    width: 100%;
  }
}

#life {
  width: 200px;
  height: 200px;
  margin: 0 auto 1rem auto;
  display: block;
  z-index: -1;
  position: relative;
}

.cell {
  font-size: 64px;
  line-height: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  float: left;
}

.cell-row {
  height: 20px;
}

#next {
  display: none;
}

#ui {
  font-family: monospace;
  text-align: center;
}

/* this-had-better-be-part-of-some-grand-occult-process */

.this-had-better-be-part-of-some-grand-occult-process {
  background: url('/assets/images/this-had-better-be-part-of-some-grand-occult-process-bg.jpg') top left no-repeat;
}

.container {
  overflow: hidden;
  width: 100%;
  height: auto;
}
/* Base styling for all animated images */
.animated-image {
  position: absolute;
  animation: fadeInOut 90s ease-in-out infinite;
}

/* Individual styles for each image position, direction, zoom, and z-index */
.animated-image-1 {
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(1.0);
  animation: moveLeftToRight 60s linear infinite, fadeInOut 90s ease-in-out infinite;
}

.animated-image-2 {
  top: 40px;
  left: 100px;
  z-index: 2;
  transform: scale(1.2);
  animation: moveRightToLeft 65s linear infinite, fadeInOut 90s ease-in-out infinite;
}

.animated-image-3 {
  top: 80px;
  left: 200px;
  z-index: 3;
  transform: scale(1.1);
  animation: moveLeftToRight 70s linear infinite, fadeInOut 90s ease-in-out infinite;
}

.animated-image-4 {
  top: 120px;
  left: 300px;
  z-index: 4;
  transform: scale(1.3);
  animation: moveRightToLeft 75s linear infinite, fadeInOut 90s ease-in-out infinite;
}

.animated-image-5 {
  top: 160px;
  left: 400px;
  z-index: 5;
  transform: scale(0.9);
  animation: moveLeftToRight 80s linear infinite, fadeInOut 90s ease-in-out infinite;
}

.animated-image-6 {
  top: 200px;
  left: 500px;
  z-index: 6;
  transform: scale(1.4);
  animation: moveRightToLeft 85s linear infinite, fadeInOut 90s ease-in-out infinite;
}

.animated-image-7 {
  top: 240px;
  left: 600px;
  z-index: 7;
  transform: scale(1.05);
  animation: moveLeftToRight 90s linear infinite, fadeInOut 90s ease-in-out infinite;
}

.animated-image-8 {
  top: 280px;
  left: 700px;
  z-index: 8;
  transform: scale(0.8);
  animation: moveRightToLeft 95s linear infinite, fadeInOut 90s ease-in-out infinite;
}

/* Keyframes for moving left to right */
@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%) scale(1); /* starts off-screen */
  }
  100% {
    transform: translateX(100%) scale(1); /* ends off-screen */
  }
}

/* Keyframes for moving right to left */
@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%) scale(1); /* starts off-screen */
  }
  100% {
    transform: translateX(-100%) scale(1); /* ends off-screen */
  }
}

/* Keyframes for opacity animation */
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0; /* fully transparent */
  }
  50% {
    opacity: .7;
  }
}

.fade-out {
  opacity: 1;
  transition: opacity 2s ease; /* Adjust the duration for the fade effect */
  animation: fadeAfter10s 12s forwards; /* 10s delay + 2s fade duration */
}

@keyframes fadeAfter10s {
  0%, 33.33% { /* First 10 seconds (10s / 12s = 83.33%) */
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}